{% form_theme changePasswordForm 'Form/fields.html.twig' %}

<div class="modal fade" id="changePassword" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      {{ form_start(changePasswordForm, {'attr': {'class': 'form-horizontal modal-form', 'id': 'changePasswordForm'}}) }}

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">x</button>
          <h3 class="header">Change Your Password</h3>
        </div>

        <div class="modal-body">
          <p>Required fields are indicated with an asterisk (<span class="error_text">*</span>).</p>
          <br>
          {{ form_row(changePasswordForm.currentPassword) }}
          {{ form_row(changePasswordForm.newPassword) }}
            <div class="col-md-12">
                <div class="aro-pswd_info">
                    <div id="pswd_info" class="change_pwd_valid">
                        <h4>Password must be requirements</h4>
                        <ul>
                            <li id="letter" class="invalid">At least <strong>one alphabet</strong></li>
                            <li id="capital" class="invalid">At least <strong>one capital letter</strong></li>
                            <li id="number" class="invalid">At least <strong>one number</strong></li>
                            <li id="length" class="invalid">Be at least <strong>8 characters</strong></li>
                            <li id="space" class="invalid">be<strong> use [!,@,#,$,%,*]</strong></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
          <button href="#" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          {{ form_widget(changePasswordForm.submit, {'attr': {'class': 'btn btn-submit'}}) }}
        </div>

      {{ form_end(changePasswordForm) }}
    </div>
  </div>
</div>
<script>
    var password = "{{ changePasswordForm.vars.data.newPassword }}";
    $(function() {
        $('#changePassword').on('shown.bs.modal', function() {
            if(password != "") {
                $('#changePassword_newPassword_first').val(password);
                $('#changePassword_newPassword_first').focus();
                if(password !== "") {
                    $('#pswd_info').addClass('margin_top-250');
                } else {
                    $('#pswd_info').removeClass('margin_top-250');
                }
            }
        });

        $('#changePassword_submit').on('click', function() {
            if($('#pswd_info').find('li.invalid').length > 0) {
                $('#pswd_info').show();
                return false;
            }
        });
    });
</script>