{% form_theme editPictureForm 'Form/logo.html.twig' %}

<div class="modal fade" id="editPicture" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      {{ form_start(editPictureForm, {'attr': {'class': 'modal-form', 'id': 'editPracticeLogoForm'}}) }}

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">x</button>
          <h3 class="header">Change Your Picture</h3>
        </div>

        <div class="modal-body">
          <p>Current Picture:</p>
          <img src="{{ profilePicture }}" class="profile-pic" />
          <br><br><br>
          <label class="control-label">Choose a new picture file:</label>
          {{ form_row(editPictureForm.file) }}
        </div>

        <div class="modal-footer">
          <a href="#" class="btn btn-secondary cancel_edit_practice_btn" data-dismiss="modal">Cancel</a>
          {{ form_widget(editPictureForm.submit, {'attr': {'class': 'btn btn-submit'}}) }}
        </div>

      {{ form_end(editPictureForm) }}
    </div>
  </div>
</div>
